<h1> Panda Tutotial-Dhanu </h1>

In [7]:
import pandas

In [3]:
pandas.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.1.final.0
python-bits: 64
OS: Darwin
OS-release: 17.5.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.20.1
pytest: 3.0.7
pip: 10.0.1
setuptools: 27.2.0
Cython: 0.25.2
numpy: 1.12.1
scipy: 0.19.0
xarray: None
IPython: 5.3.0
sphinx: 1.5.6
patsy: 0.4.1
dateutil: 2.6.0
pytz: 2017.2
blosc: None
bottleneck: 1.2.1
tables: 3.3.0
numexpr: 2.6.2
feather: None
matplotlib: 2.0.2
openpyxl: 2.4.7
xlrd: 1.0.0
xlwt: 1.2.0
xlsxwriter: 0.9.6
lxml: 3.7.3
bs4: 4.6.0
html5lib: 0.999
sqlalchemy: 1.1.9
pymysql: None
psycopg2: None
jinja2: 2.9.6
s3fs: None
pandas_gbq: None
pandas_datareader: 0.5.0

In [4]:
pandas.__version__

'0.20.1'

In [5]:
import pandas as pd
pd.__version__

'0.20.1'

<h3>pd.press tab will show all the functions available ,and to see the doc string pd.(function name)? for example pd.show_versions?
pd.sho+tab will auto fill the function names</h3>

In [8]:
pd.Series? #Run and see the result

<h2>A dataframe is a two dimensional array,Jupyter notebook displays first and last 30 rows of a dataframe</h2>

In [11]:
df=pd.read_csv("olympics.csv" ,skiprows=4)#Observations start from row 5 in the original csv file
df

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
10,Athens,1896,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400m freestyle,M,Silver
11,Athens,1896,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
12,Athens,1896,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
14,Athens,1896,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
16,Athens,1896,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110m hurdles,M,Silver
17,Athens,1896,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500m,M,Bronze
18,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
19,Athens,1896,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
20,Athens,1896,Athletics,Athletics,"GMELIN, Charles",GBR,Men,400m,M,Bronze
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
22,Athens,1896,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400m,M,Silver
23,Athens,1896,Athletics,Athletics,"GOLEMIS, Dimitrios",GRE,Men,800m,M,Bronze
24,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold
25,Athens,1896,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
26,Athens,1896,Athletics,Athletics,"VERSIS, Sotirios",GRE,Men,discus throw,M,Bronze
27,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
28,Athens,1896,Athletics,Athletics,"PARASKEVOPOULOS, Panagiotis",GRE,Men,discus throw,M,Silver
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29186,Beijing,2008,Wrestling,Wrestling Free.,"MUTALIMOV, Marid",KAZ,Men,96 - 120kg,M,Bronze
29187,Beijing,2008,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
29188,Beijing,2008,Wrestling,Wrestling Free.,"AKHMEDOV, Bakhtiyar",RUS,Men,96 - 120kg,M,Silver
29189,Beijing,2008,Wrestling,Wrestling Gre-R,"AMOYAN, Roman",ARM,Men,- 55kg,M,Bronze
29190,Beijing,2008,Wrestling,Wrestling Gre-R,"PARK, Eun-Chul",KOR,Men,- 55kg,M,Bronze
29191,Beijing,2008,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
29192,Beijing,2008,Wrestling,Wrestling Gre-R,"BAYRAMOV, Rovshan",AZE,Men,- 55kg,M,Silver
29193,Beijing,2008,Wrestling,Wrestling Gre-R,"TENGIZBAYEV, Nurbakyt",KAZ,Men,55 - 60kg,M,Bronze
29194,Beijing,2008,Wrestling,Wrestling Gre-R,"TIUMENBAEV, Ruslan",KGZ,Men,55 - 60kg,M,Bronze
29195,Beijing,2008,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
29196,Beijing,2008,Wrestling,Wrestling Gre-R,"RAHIMOV, Vitaliy",AZE,Men,55 - 60kg,M,Silver
29197,Beijing,2008,Wrestling,Wrestling Gre-R,"SIAMIONAU, Mikhail",BLR,Men,60 - 66kg,M,Bronze
29198,Beijing,2008,Wrestling,Wrestling Gre-R,"VARDANYAN, Armen",UKR,Men,60 - 66kg,M,Bronze
29199,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29200,Beijing,2008,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver
29201,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Christophe",FRA,Men,66 - 74kg,M,Bronze
29202,Beijing,2008,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze
29203,Beijing,2008,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29204,Beijing,2008,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver
29205,Beijing,2008,Wrestling,Wrestling Gre-R,"AVLUCA, Nazmi",TUR,Men,74 - 84kg,M,Bronze
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29207,Beijing,2008,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
29208,Beijing,2008,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
29209,Beijing,2008,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [13]:
df['City'].head()

0    Athens
1    Athens
2    Athens
3    Athens
4    Athens
Name: City, dtype: object

In [14]:
df["City"].head()

0    Athens
1    Athens
2    Athens
3    Athens
4    Athens
Name: City, dtype: object

In [15]:
df.City.head()#Dot notation dosent work if theres a space between column name like "City Name"

0    Athens
1    Athens
2    Athens
3    Athens
4    Athens
Name: City, dtype: object

In [16]:
#More columns -list of column names 
df[["City","Edition","Sport"]].head()

     City  Edition     Sport
0  Athens     1896  Aquatics
1  Athens     1896  Aquatics
2  Athens     1896  Aquatics
3  Athens     1896  Aquatics
4  Athens     1896  Aquatics

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
type(df.City)#Type of single column will be a series

pandas.core.series.Series

In [19]:
type(df[["City","Edition","Sport"]])#Type of multiple columns will be a data frame

pandas.core.frame.DataFrame

In [20]:
df['NOC'].head()

0    HUN
1    AUT
2    GRE
3    GRE
4    GRE
Name: NOC, dtype: object

In [21]:
type(df['NOC'].head())

pandas.core.series.Series

In [24]:
df[["Edition","City","Athlete","Medal"]].head()

   Edition    City             Athlete   Medal
0     1896  Athens       HAJOS, Alfred    Gold
1     1896  Athens    HERSCHMANN, Otto  Silver
2     1896  Athens   DRIVAS, Dimitrios  Bronze
3     1896  Athens  MALOKINIS, Ioannis    Gold
4     1896  Athens  CHASAPIS, Spiridon  Silver

<h3>input files:pd.read_csv(),pd.read_excel(),pd.read_json(),pd.read_sql_table()</h3>

pd.read_csv(shift+tab)will show the method and press tab 4 times will display the entire docstring

In [28]:
df.shape #Gives the dimensions of the data frame as tuple

(29216, 10)

In [34]:
df.shape[0]

29216

In [33]:
df.shape[1]

10

<h3>df.info()</h3> provides a summary of the data frame including the number of entries, the data type, and the number of non-null entries for each series in the data frame.

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
City            29216 non-null object
Edition         29216 non-null int64
Sport           29216 non-null object
Discipline      29216 non-null object
Athlete         29216 non-null object
NOC             29216 non-null object
Gender          29216 non-null object
Event           29216 non-null object
Event_gender    29216 non-null object
Medal           29216 non-null object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB

<h3>value_counts()</h3> It returns a series object, counting all the unique values. There are two things in particular to be aware of value_counts. As this is returning a count of the unique values, the first value is the most frequently occurring element. The second, the second most frequently occurring element and so on. This order can be reversed by just setting the ascending flag to True.
Dropna, one of the parameters within the value_counts is True by default and you will not get a count of the na values. The na values are the missing data values. If your data set has a significant number of na values, this can be misleading and you can turn this feature off by setting dropna to False.

In [47]:
df["City"].value_counts()

Athens                   2149
Los Angeles              2074
Beijing                  2042
Sydney                   2015
Atlanta                  1859
Barcelona                1705
London                   1618
Seoul                    1546
Paris                    1396
Moscow                   1387
Montreal                 1305
Antwerp                  1298
Munich                   1185
Mexico                   1031
Tokyo                    1010
Helsinki                  889
Melbourne / Stockholm     885
Stockholm                 885
Rome                      882
Berlin                    875
Amsterdam                 710
St Louis                  470
Name: City, dtype: int64

In [48]:
df.Edition.value_counts()

2008    2042
2000    2015
2004    1998
1996    1859
1992    1705
1988    1546
1984    1459
1980    1387
1976    1305
1920    1298
1972    1185
1968    1031
1964    1010
1952     889
1912     885
1956     885
1924     884
1960     882
1936     875
1948     814
1908     804
1928     710
1932     615
1900     512
1904     470
1896     151
Name: Edition, dtype: int64

In [50]:
df.Gender.value_counts()

Men      21721
Women     7495
Name: Gender, dtype: int64

<h3>Sort_values()</h3> sorts the values in a series. As axis is equal to zero, you are sorting along the column and in ascending order by default. So if you visualize a series as being a single column, you are sorting the contents of that column in ascending order. By default, the NaNs, or missing data, are put right at the end. Sort_values(), when used in conjunction with a DataFrame, is particularly useful as you can sort multiple series in ascending and descending order.

In [72]:
ath=df.Athlete.sort_values()
ath

651                    AABYE, Edgar
2852          AALTONEN, Arvo Ossian
2849          AALTONEN, Arvo Ossian
7730       AALTONEN, Paavo Johannes
7716       AALTONEN, Paavo Johannes
7709       AALTONEN, Paavo Johannes
7773       AALTONEN, Paavo Johannes
8563       AALTONEN, Paavo Johannes
28460              AAMODT, Ragnhild
3436               AANING, Alf Lied
19062         AARDENBURG, Willemien
22769             AARDEWIJN, Pepijn
22267          AARONES, Ann Kristin
3437                  AAS, Karl Jan
2601           AAS, Thomas Valentin
28134              ABAJO, Jose Luis
27691              ABAKUMOVA, Maria
27983           ABALMASAU, Aliaksei
28417                    ABALO, Luc
24202         ABANDA ETONG, Patrice
21538            ABARCA, Jose Maria
27125                 ABAS, Stephen
16390     ABASCAL GARCIA, Alejandro
16806    ABASCAL GOMEZ, Jose Manuel
26049             ABASSOVA, Tamilla
28418                   ABATI, Joel
20477                   ABAY, Peter
6380             ABAY-NEMES, Oszkar
7003                  ABBA, Silvano
24757           ABBAGNALE, Agostino
                    ...
9128                 ZYBINA, Galina
8235                 ZYBINA, Galina
10948                ZYBINA, Galina
15817                ZYCH, Boguslaw
25639                ZYKINA, Olesya
23611                ZYKINA, Olesya
10596              ZÃ„HRINGER, Klaus
19282               ZÃœHLKE, Steffen
18534                ZÃœLOW, Andreas
1138                 ZÃœRNER, Albert
1939                 ZÃœRNER, Albert
15711           Ã–RSTED, Hans-Henrik
2691                Ã–RTEGREN, Ruben
3745                    Ã–RVIG, Erik
3746                    Ã–RVIG, Olav
3747                    Ã–RVIG, Thor
4009                Ã–STENSEN, Ã–sten
3870                Ã–STENSEN, Ã–sten
3942                Ã–STENSEN, Ã–sten
3868                Ã–STENSEN, Ã–sten
2730                Ã–STENSEN, Ã–sten
3737              Ã–STERVOLD, Henrik
3738           Ã–STERVOLD, Jan Olsen
3739      Ã–STERVOLD, Kristian Olsen
3740           Ã–STERVOLD, Ole Olsen
621                      Ã–STMO, Ole
608                      Ã–STMO, Ole
603                      Ã–STMO, Ole
596                      Ã–STMO, Ole
8051              Ã–STRAND, Per-Olof
Name: Athlete, Length: 29216, dtype: object

In [70]:
df.sort_values(by=["Edition","Athlete"])

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
82,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,rope climbing,M,Gold
110,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,"team, parallel bars",M,Silver
111,Athens,1896,Gymnastics,Artistic G.,"ATHANASOPOULOS, Spyros",GRE,Men,"team, parallel bars",M,Silver
48,Athens,1896,Cycling,Cycling Road,"BATTEL, Edward",GBR,Men,individual road race,M,Bronze
19,Athens,1896,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
134,Athens,1896,Tennis,Tennis,"BOLAND, John",ZZX,Men,doubles,M,Gold
140,Athens,1896,Tennis,Tennis,"BOLAND, John",GBR,Men,singles,M,Gold
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
84,Athens,1896,Gymnastics,Artistic G.,"BÃ–CKER, Konrad",GER,Men,"team, horizontal bar",M,Gold
99,Athens,1896,Gymnastics,Artistic G.,"BÃ–CKER, Konrad",GER,Men,"team, parallel bars",M,Gold
66,Athens,1896,Fencing,Fencing,"CALLOT, Henri",FRA,Men,foil individual,M,Silver
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
148,Athens,1896,Wrestling,Wrestling Gre-R,"CHRISTOPOULOS, Stephanos",GRE,Men,open event,M,Bronze
95,Athens,1896,Gymnastics,Artistic G.,"CHRYSAPHIS, Ioannis",GRE,Men,"team, parallel bars",M,Bronze
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
33,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,long jump,M,Gold
30,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,high jump,M,Silver
32,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,long jump,M,Bronze
46,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,triple jump,M,Gold
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
38,Athens,1896,Athletics,Athletics,"DAMASKOS, Evangelos",GRE,Men,pole vault,M,Bronze
25,Athens,1896,Athletics,Athletics,"DANI, Nandor",HUN,Men,800m,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
143,Athens,1896,Weightlifting,Weightlifting,"ELLIOTT, Launceston",GBR,Men,heavyweight - one hand lift,M,Gold
147,Athens,1896,Weightlifting,Weightlifting,"ELLIOTT, Launceston",GBR,Men,heavyweight - two hand lift,M,Silver
18,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
...,...,...,...,...,...,...,...,...,...,...
28583,Beijing,2008,Hockey,Hockey,"ZHANG, Yimeng",CHN,Women,hockey,W,Silver
28940,Beijing,2008,Table Tennis,Table Tennis,"ZHANG, Yining",CHN,Women,singles,W,Gold
28956,Beijing,2008,Table Tennis,Table Tennis,"ZHANG, Yining",CHN,Women,team,W,Gold
27893,Beijing,2008,Boxing,Boxing,"ZHANG, Zhilei",CHN,Men,+ 91kg (super heavyweight),M,Silver
27340,Beijing,2008,Aquatics,Swimming,"ZHAO, Jing",CHN,Women,4x100m medley relay,W,Bronze
29074,Beijing,2008,Volleyball,Volleyball,"ZHAO, Ruirui",CHN,Women,volleyball,W,Bronze
28584,Beijing,2008,Hockey,Hockey,"ZHAO, Yudiao",CHN,Women,hockey,W,Silver
28999,Beijing,2008,Tennis,Tennis,"ZHENG, Jie",CHN,Women,doubles,W,Bronze
28641,Beijing,2008,Judo,Judo,"ZHITKEYEV, Askhat",KAZ,Men,90 - 100kg (half-heavyweight),M,Silver
28169,Beijing,2008,Fencing,Fencing,"ZHONG, Man",CHN,Men,sabre individual,M,Gold
27701,Beijing,2008,Athletics,Athletics,"ZHOU, Chunxiu",CHN,Women,marathon,W,Bronze
27176,Beijing,2008,Aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,Silver
29075,Beijing,2008,Volleyball,Volleyball,"ZHOU, Suhong",CHN,Women,volleyball,W,Bronze
28585,Beijing,2008,Hockey,Hockey,"ZHOU, Wanfeng",CHN,Women,hockey,W,Silver
27341,Beijing,2008,Aquatics,Swimming,"ZHOU, Yafei",CHN,Women,4x100m medley relay,W,Bronze
28191,Beijing,2008,Fencing,Fencing,"ZHOVNIR, Olha",UKR,Women,sabre team,W,Gold
28989,Beijing,2008,Taekwondo,Taekwondo,"ZHU, Guo",CHN,Men,68 - 80 kg,M,Bronze
27394,Beijing,2008,Aquatics,Swimming,"ZHU, Qianwei",CHN,Women,4x200m freestyle relay,W,Silver
28857,Beijing,2008,Shooting,Shooting,"ZHU, Qinan",CHN,Men,10m air rifle (60 shots),M,Silver
28396,Beijing,2008,Gymnastics,Rhythmic G.,"ZHUKOVA, Inna",BLR,Women,individual all-round,W,Silver
29172,Beijing,2008,Wrestling,Wrestling Free.,"ZLATEVA, Stanka",BUL,Women,63 - 72kg,W,Silver
28308,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,floor exercises,M,Gold
28314,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,horizontal bar,M,Gold
28342,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,team competition,M,Gold
27900,Beijing,2008,Boxing,Boxing,"ZOU, Shiming",CHN,Men,48kg (light flywieght),M,Gold
28095,Beijing,2008,Equestrian,Dressage,"ZU-SAYN WITTGENSTEIN, Nathalie",DEN,Women,team,X,Bronze
28819,Beijing,2008,Sailing,Sailing,"ZUBARI, Shahar",ISR,Men,RS:X - Windsurfer,M,Bronze
28977,Beijing,2008,Taekwondo,Taekwondo,"ZUBCIC, Martina",CRO,Women,49 - 57 kg,W,Bronze
28387,Beijing,2008,Gymnastics,Rhythmic G.,"ZUEVA, Natalia",RUS,Women,group competition,W,Gold
29007,Beijing,2008,Tennis,Tennis,"ZVONAREVA, Vera",RUS,Women,singles,W,Bronze

<h3>Boolean indexing.</h3> Boolean vectors or conditions can be used to filter data. Based on a condition, pass series of true and false values to a series or data frame to select and display the rules where the series has true values. Instead of using and, or, or not, as with most programming languages, you can use the following symbols instead. Remember that if you have more than one condition, or Boolean vector, this must be grouped in brackets or parentheses.

This is to ensure that the order of operations is carried out correctly.(AND = & , OR = | , NOT =~)

In [73]:
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
82,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,rope climbing,M,Gold
110,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,"team, parallel bars",M,Silver
111,Athens,1896,Gymnastics,Artistic G.,"ATHANASOPOULOS, Spyros",GRE,Men,"team, parallel bars",M,Silver
48,Athens,1896,Cycling,Cycling Road,"BATTEL, Edward",GBR,Men,individual road race,M,Bronze

In [74]:
df.Medal=="Gold"

7        False
82        True
110      False
111      False
48       False
19       False
134       True
140       True
13        True
21        True
84        True
99        True
66       False
4        False
5        False
8        False
148      False
95       False
29        True
33        True
30       False
32       False
46        True
15        True
38       False
25       False
2        False
143       True
147      False
18        True
         ...
28583    False
28940     True
28956     True
27893    False
27340    False
29074    False
28584    False
28999    False
28641    False
28169     True
27701    False
27176    False
29075    False
28585    False
27341    False
28191     True
28989    False
27394    False
28857    False
28396    False
29172    False
28308     True
28314     True
28342     True
27900     True
28095    False
28819    False
28977    False
28387     True
29007    False
Name: Medal, Length: 29216, dtype: bool

In [75]:
df[df.Medal=="Gold"]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
82,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,rope climbing,M,Gold
134,Athens,1896,Tennis,Tennis,"BOLAND, John",ZZX,Men,doubles,M,Gold
140,Athens,1896,Tennis,Tennis,"BOLAND, John",GBR,Men,singles,M,Gold
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
84,Athens,1896,Gymnastics,Artistic G.,"BÃ–CKER, Konrad",GER,Men,"team, horizontal bar",M,Gold
99,Athens,1896,Gymnastics,Artistic G.,"BÃ–CKER, Konrad",GER,Men,"team, parallel bars",M,Gold
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
33,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,long jump,M,Gold
46,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,triple jump,M,Gold
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
143,Athens,1896,Weightlifting,Weightlifting,"ELLIOTT, Launceston",GBR,Men,heavyweight - one hand lift,M,Gold
18,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
24,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold
51,Athens,1896,Cycling,Cycling Track,"FLAMENG, LÃ©on",FRA,Men,100km,M,Gold
74,Athens,1896,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,parallel bars,M,Gold
85,Athens,1896,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,"team, horizontal bar",M,Gold
100,Athens,1896,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,"team, parallel bars",M,Gold
86,Athens,1896,Gymnastics,Artistic G.,"FLATOW, Gustav Felix",GER,Men,"team, horizontal bar",M,Gold
101,Athens,1896,Gymnastics,Artistic G.,"FLATOW, Gustav Felix",GER,Men,"team, parallel bars",M,Gold
27,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
43,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,shot put,M,Gold
70,Athens,1896,Fencing,Fencing,"GEORGIADIS, Ioannis",GRE,Men,sabre individual,M,Gold
65,Athens,1896,Fencing,Fencing,"GRAVELOTTE, EugÃ¨ne-Henri",FRA,Men,foil individual,M,Gold
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
87,Athens,1896,Gymnastics,Artistic G.,"HILMAR, Georg",GER,Men,"team, horizontal bar",M,Gold
102,Athens,1896,Gymnastics,Artistic G.,"HILMAR, Georg",GER,Men,"team, parallel bars",M,Gold
88,Athens,1896,Gymnastics,Artistic G.,"HOFMANN, Fritz",GER,Men,"team, horizontal bar",M,Gold
103,Athens,1896,Gymnastics,Artistic G.,"HOFMANN, Fritz",GER,Men,"team, parallel bars",M,Gold
...,...,...,...,...,...,...,...,...,...,...
28340,Beijing,2008,Gymnastics,Artistic G.,"XIAO, Qin",CHN,Men,team competition,M,Gold
28920,Beijing,2008,Softball,Softball,"YAMADA, Eri",JPN,Women,softball,W,Gold
28317,Beijing,2008,Gymnastics,Artistic G.,"YANG, Wei",CHN,Men,individual all-round,M,Gold
28341,Beijing,2008,Gymnastics,Artistic G.,"YANG, Wei",CHN,Men,team competition,M,Gold
27949,Beijing,2008,Canoe / Kayak,Canoe / Kayak F,"YANG, Wenjun",CHN,Men,C-2 500m (canoe double),M,Gold
28628,Beijing,2008,Judo,Judo,"YANG, Xiuli",CHN,Women,70 - 78kg (half-heavyweight),W,Gold
28360,Beijing,2008,Gymnastics,Artistic G.,"YANG, Yilin",CHN,Women,team competition,W,Gold
28823,Beijing,2008,Sailing,Sailing,"YIN, Jian",CHN,Women,RS:X - Windsurfer,W,Gold
27793,Beijing,2008,Baseball,Baseball,"YOON, Suk Min",KOR,Men,baseball,M,Gold
29155,Beijing,2008,Wrestling,Wrestling Free.,"YOSHIDA, Saori",JPN,Women,48 - 55kg,W,Gold
27735,Beijing,2008,Badminton,Badminton,"YU, Yang",CHN,Women,doubles,W,Gold
27541,Beijing,2008,Archery,Archery,"YUN, Ok-Hee",KOR,Women,team (FITA Olympic round - 70m),W,Gold
28231,Beijing,2008,Football,Football,"ZABALETA, Pablo",ARG,Men,football,M,Gold
28172,Beijing,2008,Fencing,Fencing,"ZAGUNIS, Mariel",USA,Women,sabre individual,W,Gold
28520,Beijing,2008,Hockey,Hockey,"ZELLER, Christopher",GER,Men,hockey,M,Gold
28521,Beijing,2008,Hockey,Hockey,"ZELLER, Philipp",GER,Men,hockey,M,Gold
27525,Beijing,2008,Archery,Archery,"ZHANG, Juan Juan",CHN,Women,individual (FITA Olympic round - 70m),W,Gold
27744,Beijing,2008,Badminton,Badminton,"ZHANG, Ning",CHN,Women,singles,W,Gold
29122,Beijing,2008,Weightlifting,Weightlifting,"ZHANG, Xiangxiang",CHN,Men,62kg,M,Gold
27928,Beijing,2008,Boxing,Boxing,"ZHANG, Xiaoping",CHN,Men,75 - 81kg (light-heavyweight),M,Gold
28781,Beijing,2008,Rowing,Rowing,"ZHANG, Yangyang",CHN,Women,quadruple sculls without coxswain (4x),W,Gold
28940,Beijing,2008,Table Tennis,Table Tennis,"ZHANG, Yining",CHN,Women,singles,W,Gold
28956,Beijing,2008,Table Tennis,Table Tennis,"ZHANG, Yining",CHN,Women,team,W,Gold
28169,Beijing,2008,Fencing,Fencing,"ZHONG, Man",CHN,Men,sabre individual,M,Gold
28191,Beijing,2008,Fencing,Fencing,"ZHOVNIR, Olha",UKR,Women,sabre team,W,Gold
28308,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,floor exercises,M,Gold
28314,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,horizontal bar,M,Gold
28342,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,team competition,M,Gold
27900,Beijing,2008,Boxing,Boxing,"ZOU, Shiming",CHN,Men,48kg (light flywieght),M,Gold
28387,Beijing,2008,Gymnastics,Rhythmic G.,"ZUEVA, Natalia",RUS,Women,group competition,W,Gold

In [77]:
df[df.Medal=="Gold"].Athlete.sort_values()

651                    AABYE, Edgar
7773       AALTONEN, Paavo Johannes
7716       AALTONEN, Paavo Johannes
7730       AALTONEN, Paavo Johannes
28460              AAMODT, Ragnhild
2601           AAS, Thomas Valentin
27983           ABALMASAU, Aliaksei
28417                    ABALO, Luc
24202         ABANDA ETONG, Patrice
21538            ABARCA, Jose Maria
16390     ABASCAL GARCIA, Alejandro
28418                   ABATI, Joel
24757           ABBAGNALE, Agostino
19283           ABBAGNALE, Agostino
22677           ABBAGNALE, Agostino
19273            ABBAGNALE, Carmine
17778            ABBAGNALE, Carmine
19274           ABBAGNALE, Giuseppe
17779           ABBAGNALE, Giuseppe
417           ABBOTT, Margaret Ives
23892    ABDOOLLAYEV, Mahammatkodir
10438                  ABDUL, Hamid
10439               ABDUL, Rashid I
12403             ABDUL, Rashid III
17531              ABDUL, Rashid IV
10440                 ABDUL, Waheed
13853           ABDULBEKOV, Zagalav
25129             ABDULLAYEV, Namig
23806          ABDUR-RAHIM, Shareef
19984            ABDUVALIEV, Andrey
                    ...
11772                 ZORN, Zachary
5038           ZORRILLA, Victoriano
2316                  ZORZI, Angelo
3387                  ZORZI, Angelo
28314                      ZOU, Kai
28342                      ZOU, Kai
28308                      ZOU, Kai
27900                  ZOU, Shiming
17458                ZOVKO, Zdravko
26416                 ZRNIC, Vedran
11958              ZSIVOTZKY, Gyula
16056                ZUBAREVA, Olga
4412           ZUCCHETTI, Francesco
28387                ZUEVA, Natalia
76                    ZUTTER, Louis
23644               ZVEREVA, Ellina
26622              ZVIADAURI, Zurab
26556                  ZWEHL, Julia
23022               ZWERVER, Ronald
22704           ZWOLLE, Hendrik Jan
8235                 ZYBINA, Galina
18534                ZÃœLOW, Andreas
1138                 ZÃœRNER, Albert
3745                    Ã–RVIG, Erik
3746                    Ã–RVIG, Olav
3747                    Ã–RVIG, Thor
3737              Ã–STERVOLD, Henrik
3738           Ã–STERVOLD, Jan Olsen
3739      Ã–STERVOLD, Kristian Olsen
3740           Ã–STERVOLD, Ole Olsen
Name: Athlete, Length: 9850, dtype: object

In [81]:
df[(df.Medal=="Gold") & (df.Gender=='Women')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
417,Paris,1900,Golf,Golf,"ABBOTT, Margaret Ives",USA,Women,individual,W,Gold
641,Paris,1900,Tennis,Tennis,"COOPER, Charlotte",GBR,Women,mixed doubles,X,Gold
649,Paris,1900,Tennis,Tennis,"COOPER, Charlotte",GBR,Women,singles,W,Gold
710,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,double columbia round (50y - 40y - 30y),W,Gold
713,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,double national round (60y - 50y),W,Gold
730,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,teams FITA round,W,Gold
731,St Louis,1904,Archery,Archery,"POLLOCK, Jessie",USA,Women,teams FITA round,W,Gold
732,St Louis,1904,Archery,Archery,"TAYLOR, Louise",USA,Women,teams FITA round,W,Gold
733,St Louis,1904,Archery,Archery,"WOODRUFF, Laura",USA,Women,teams FITA round,W,Gold
1870,London,1908,Tennis,Tennis,"CHAMBERS, Dorothy Katherine",GBR,Women,singles,W,Gold
1876,London,1908,Tennis,Tennis,"EASTLAKE-SMITH, Gwendoline",GBR,Women,singles indoor,W,Gold
1849,London,1908,Skating,Figure skating,"HÃœBLER, Anna",GER,Women,pairs,X,Gold
1185,London,1908,Archery,Archery,"NEWALL, Sybil Fenton Quenni",GBR,Women,national round (60y - 50y),W,Gold
1843,London,1908,Skating,Figure skating,"SYERS, Florence",GBR,Women,individual,W,Gold
2783,Stockholm,1912,Tennis,Tennis,"BROQUEDIS, Marguerite",FRA,Women,singles,W,Gold
1956,Stockholm,1912,Aquatics,Swimming,"DURACK, Fanny",ANZ,Women,100m freestyle,W,Gold
1974,Stockholm,1912,Aquatics,Swimming,"FLETCHER, Jennie",GBR,Women,4x100m freestyle relay,W,Gold
2777,Stockholm,1912,Tennis,Tennis,"HANNAM, Edith Margaret",GBR,Women,mixed doubles indoor,X,Gold
2789,Stockholm,1912,Tennis,Tennis,"HANNAM, Edith Margaret",GBR,Women,singles indoor,W,Gold
1941,Stockholm,1912,Aquatics,Diving,"JOHANSSON, Greta",SWE,Women,10m platform,W,Gold
2771,Stockholm,1912,Tennis,Tennis,"KÃ–RING, Dora",GER,Women,mixed doubles,X,Gold
1975,Stockholm,1912,Aquatics,Swimming,"MOORE, Isabella Mary",GBR,Women,4x100m freestyle relay,W,Gold
1976,Stockholm,1912,Aquatics,Swimming,"SPEIRS, Annie",GBR,Women,4x100m freestyle relay,W,Gold
1977,Stockholm,1912,Aquatics,Swimming,"STEER, Irene",GBR,Women,4x100m freestyle relay,W,Gold
2844,Antwerp,1920,Aquatics,Swimming,"BLEIBTREY, Ethelda",USA,Women,100m freestyle,W,Gold
2859,Antwerp,1920,Aquatics,Swimming,"BLEIBTREY, Ethelda",USA,Women,400m freestyle,W,Gold
2865,Antwerp,1920,Aquatics,Swimming,"BLEIBTREY, Ethelda",USA,Women,4x100m freestyle relay,W,Gold
2826,Antwerp,1920,Aquatics,Diving,"FRYLAND CLAUSEN, Stefani",DEN,Women,10m platform,W,Gold
2866,Antwerp,1920,Aquatics,Swimming,"GUEST, Irene",USA,Women,4x100m freestyle relay,W,Gold
4024,Antwerp,1920,Skating,Figure skating,"JAKOBSSON, Ludowika",FIN,Women,pairs,X,Gold
...,...,...,...,...,...,...,...,...,...,...
27195,Beijing,2008,Aquatics,Diving,"WANG, Xin",CHN,Women,synchronized diving 10m platform,W,Gold
27998,Beijing,2008,Canoe / Kayak,Canoe / Kayak F,"WASSMUTH, Conny",GER,Women,K-4 500m (kayak four),W,Gold
28841,Beijing,2008,Sailing,Sailing,"WEBB, Sarah",GBR,Women,Yngling - Keelboat,W,Gold
28569,Beijing,2008,Hockey,Hockey,"WELTEN, Lidewij",NED,Women,hockey,W,Gold
28098,Beijing,2008,Equestrian,Dressage,"WERTH, Isabell",GER,Women,team,X,Gold
28710,Beijing,2008,Rowing,Rowing,"WHIPPLE, Mary",USA,Women,eight with coxswain (8+),W,Gold
27348,Beijing,2008,Aquatics,Swimming,"WHITE, Tarnee",AUS,Women,4x100m medley relay,W,Gold
29000,Beijing,2008,Tennis,Tennis,"WILLIAMS, Serena",USA,Women,doubles,W,Gold
29001,Beijing,2008,Tennis,Tennis,"WILLIAMS, Venus",USA,Women,doubles,W,Gold
28842,Beijing,2008,Sailing,Sailing,"WILSON, Pippa",GBR,Women,Yngling - Keelboat,W,Gold
27642,Beijing,2008,Athletics,Athletics,"WINEBERG, Mary",USA,Women,4x400m relay,W,Gold
28962,Beijing,2008,Taekwondo,Taekwondo,"WU, Jingyu",CHN,Women,- 49 kg,W,Gold
27207,Beijing,2008,Aquatics,Diving,"WU, Minxia",CHN,Women,synchronized diving 3m springboard,W,Gold
28780,Beijing,2008,Rowing,Rowing,"XI, Aihua",CHN,Women,quadruple sculls without coxswain (4x),W,Gold
28604,Beijing,2008,Judo,Judo,"XIAN, Dongmei",CHN,Women,48 - 52kg (half-lightweight),W,Gold
28920,Beijing,2008,Softball,Softball,"YAMADA, Eri",JPN,Women,softball,W,Gold
28628,Beijing,2008,Judo,Judo,"YANG, Xiuli",CHN,Women,70 - 78kg (half-heavyweight),W,Gold
28360,Beijing,2008,Gymnastics,Artistic G.,"YANG, Yilin",CHN,Women,team competition,W,Gold
28823,Beijing,2008,Sailing,Sailing,"YIN, Jian",CHN,Women,RS:X - Windsurfer,W,Gold
29155,Beijing,2008,Wrestling,Wrestling Free.,"YOSHIDA, Saori",JPN,Women,48 - 55kg,W,Gold
27735,Beijing,2008,Badminton,Badminton,"YU, Yang",CHN,Women,doubles,W,Gold
27541,Beijing,2008,Archery,Archery,"YUN, Ok-Hee",KOR,Women,team (FITA Olympic round - 70m),W,Gold
28172,Beijing,2008,Fencing,Fencing,"ZAGUNIS, Mariel",USA,Women,sabre individual,W,Gold
27525,Beijing,2008,Archery,Archery,"ZHANG, Juan Juan",CHN,Women,individual (FITA Olympic round - 70m),W,Gold
27744,Beijing,2008,Badminton,Badminton,"ZHANG, Ning",CHN,Women,singles,W,Gold
28781,Beijing,2008,Rowing,Rowing,"ZHANG, Yangyang",CHN,Women,quadruple sculls without coxswain (4x),W,Gold
28940,Beijing,2008,Table Tennis,Table Tennis,"ZHANG, Yining",CHN,Women,singles,W,Gold
28956,Beijing,2008,Table Tennis,Table Tennis,"ZHANG, Yining",CHN,Women,team,W,Gold
28191,Beijing,2008,Fencing,Fencing,"ZHOVNIR, Olha",UKR,Women,sabre team,W,Gold
28387,Beijing,2008,Gymnastics,Rhythmic G.,"ZUEVA, Natalia",RUS,Women,group competition,W,Gold

 <h3>String handling</h3> Generally have names matching the equivalent scaler built in string methods that are available in Python. These are available under the str attribute. Using the str attribute, you have access to several common string methods, such as contains, startswith, isnumeric and so on. [Series.str.contains(),Series.str.startswith(),Series.str.isnumeric()]

In [82]:
df.Athlete.str.contains('Florence')

7        False
82       False
110      False
111      False
48       False
19       False
134      False
140      False
13       False
21       False
84       False
99       False
66       False
4        False
5        False
8        False
148      False
95       False
29       False
33       False
30       False
32       False
46       False
15       False
38       False
25       False
2        False
143      False
147      False
18       False
         ...
28583    False
28940    False
28956    False
27893    False
27340    False
29074    False
28584    False
28999    False
28641    False
28169    False
27701    False
27176    False
29075    False
28585    False
27341    False
28191    False
28989    False
27394    False
28857    False
28396    False
29172    False
28308    False
28314    False
28342    False
27900    False
28095    False
28819    False
28977    False
28387    False
29007    False
Name: Athlete, Length: 29216, dtype: bool

In [83]:
df[df.Athlete.str.contains('Florence')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
1843,London,1908,Skating,Figure skating,"SYERS, Florence",GBR,Women,individual,W,Gold
1848,London,1908,Skating,Figure skating,"SYERS, Florence",GBR,Women,pairs,X,Bronze
4173,Paris,1924,Aquatics,Swimming,"BARKER, Florence",GBR,Women,4x100m freestyle relay,W,Silver
8162,Helsinki,1952,Athletics,Athletics,"FOULDS-PAUL, June Florence",GBR,Women,4x100m relay,W,Bronze
9060,Melbourne / Stockholm,1956,Athletics,Athletics,"FOULDS-PAUL, June Florence",GBR,Women,4x100m relay,W,Silver
10849,Tokyo,1964,Athletics,Athletics,"AMOORE-POLLOCK, Judith Florence",AUS,Women,400m,W,Bronze
16817,Los Angeles,1984,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,200m,W,Silver
18287,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,100m,W,Gold
18305,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,200m,W,Gold
18347,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,4x100m relay,W,Gold
18374,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,4x400m relay,W,Silver

In [89]:
df[df.Athlete.str.contains('Jesse')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
1773,London,1908,Shooting,Shooting,"WALLINGFORD, Jesse Alfred",GBR,Men,"50y army pistol, team",M,Bronze
1522,London,1908,Hockey,Hockey,"WOOD, Harvey Jesse",GBR,Men,hockey,M,Gold
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
6439,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,200m,M,Gold
6456,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,4x100m relay,M,Gold
6523,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,long jump,M,Gold
7444,London,1948,Basketball,Basketball,"RENICK, John (Jesse) Bernard",USA,Men,basketball,M,Gold
9070,Melbourne / Stockholm,1956,Athletics,Athletics,"MASHBURN, Jesse William",USA,Men,4x400m relay,M,Gold
11462,Tokyo,1964,Rowing,Rowing,"JAMES, John Jesse",GBR,Men,four without coxswain (4-),M,Silver
13113,Munich,1972,Boxing,Boxing,"VALDEZ, John (Jesse)",USA,Men,63.5 - 67kg (welterweight),M,Bronze
26519,Athens,2004,Hockey,Hockey,"MAHIEU, Jesse",NED,Men,hockey,M,Silver
28065,Beijing,2008,Cycling,Cycling Track,"SERGENT, Jesse",NZL,Men,Team Pursuit (4000m),M,Bronze
27479,Beijing,2008,Aquatics,Water polo,"SMITH, Jesse",USA,Men,water polo,M,Silver

In [134]:
jo=df[df.Athlete=='OWENS, Jesse']
jo

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
6439,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,200m,M,Gold
6456,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,4x100m relay,M,Gold
6523,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,long jump,M,Gold

In [135]:
jo.Event.value_counts()

100m            1
4x100m relay    1
200m            1
long jump       1
Name: Event, dtype: int64

In [132]:
ch=df[(df.Sport=="Badminton")&(df.Gender=="Men")&(df.Event=="singles")&(df.Medal=="Gold")]
ch

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold

In [136]:
ch.sort_values(by="Athlete")

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold

In [140]:
co=df[( df.Edition >=1984)]
co

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
16806,Los Angeles,1984,Athletics,Athletics,"ABASCAL GOMEZ, Jose Manuel",ESP,Men,1500m,M,Bronze
17778,Los Angeles,1984,Rowing,Rowing,"ABBAGNALE, Carmine",ITA,Men,pair-oared shell with coxswain (2+),M,Gold
17779,Los Angeles,1984,Rowing,Rowing,"ABBAGNALE, Giuseppe",ITA,Men,pair-oared shell with coxswain (2+),M,Gold
16709,Los Angeles,1984,Aquatics,Swimming,"ABDO, Reema",CAN,Women,4x100m medley relay,W,Bronze
17531,Los Angeles,1984,Hockey,Hockey,"ABDUL, Rashid IV",PAK,Men,hockey,M,Gold
18029,Los Angeles,1984,Wrestling,Wrestling Gre-R,"ACEVES, Daniel",MEX,Men,48 - 52kg (flyweight),M,Silver
17154,Los Angeles,1984,Cycling,Cycling Road,"ACHERMANN, Alfred",SUI,Men,team time trial,M,Silver
17630,Los Angeles,1984,Judo,Judo,"ADAMS, Neil",GBR,Men,71 - 78kg (half-middleweight),M,Silver
17832,Los Angeles,1984,Sailing,Sailing,"ADLER, Daniel",BRA,Men,fleet/match race keelboat open (Soling),X,Silver
17404,Los Angeles,1984,Gymnastics,Artistic G.,"AGACHE, Lavinia",ROU,Women,team competition,W,Gold
17424,Los Angeles,1984,Gymnastics,Artistic G.,"AGACHE, Lavinia",ROU,Women,vault,W,Bronze
17625,Los Angeles,1984,Judo,Judo,"AHN, Byung-Keun",KOR,Men,65 - 71kg (lightweight),M,Gold
16871,Los Angeles,1984,Athletics,Athletics,"AKABUSI, Kriss Kezie Uche",GBR,Men,4x400m relay,M,Silver
18005,Los Angeles,1984,Wrestling,Wrestling Free.,"AKAISHI, Kosei",JPN,Men,57 - 62kg (featherweight),M,Silver
17170,Los Angeles,1984,Cycling,Cycling Track,"ALBER, Reinhard",FRG,Men,Team Pursuit (4000m),M,Bronze
17619,Los Angeles,1984,Judo,Judo,"ALEXANDRE, Marc",FRA,Men,60 - 65kg (half-lightweight),M,Bronze
16963,Los Angeles,1984,Basketball,Basketball,"ALFORD, Steven Todd",USA,Men,basketball,M,Gold
17835,Los Angeles,1984,Sailing,Sailing,"ALLAM, Peter Frank",GBR,Men,flying dutchman,X,Bronze
17874,Los Angeles,1984,Shooting,Shooting,"ALLAN, Alister Millar",GBR,Men,50m rifle 3 positions (3x40 shots),M,Bronze
17054,Los Angeles,1984,Boxing,Boxing,"AN, Young-Su",KOR,Men,63.5 - 67kg (welterweight),M,Silver
17487,Los Angeles,1984,Handball,Handball,"ANASTASOVSKI, Svetlana",YUG,Women,handball,W,Gold
17563,Los Angeles,1984,Hockey,Hockey,"ANDERS, Elizabeth Rambo",USA,Women,hockey,W,Bronze
17844,Los Angeles,1984,Sailing,Sailing,"ANDERSON, John Scott",AUS,Men,Tornado - Multihull,X,Bronze
17096,Los Angeles,1984,Canoe / Kayak,Canoe / Kayak F,"ANDERSSON, Agneta",SWE,Women,K-1 500m (kayak single),W,Gold
17112,Los Angeles,1984,Canoe / Kayak,Canoe / Kayak F,"ANDERSSON, Agneta",SWE,Women,K-2 500m (kayak double),W,Gold
17136,Los Angeles,1984,Canoe / Kayak,Canoe / Kayak F,"ANDERSSON, Agneta",SWE,Women,K-4 500m (kayak four),W,Silver
18045,Los Angeles,1984,Wrestling,Wrestling Gre-R,"ANDERSSON, Frank",SWE,Men,82 - 90kg (light-heavyweight),M,Bronze
16943,Los Angeles,1984,Athletics,Athletics,"ANDREI, Alessandro",ITA,Men,shot put,M,Gold
18049,Los Angeles,1984,Wrestling,Wrestling Gre-R,"ANDREI, Vasile",ROU,Men,90 - 100kg (heavyweight),M,Gold
16608,Los Angeles,1984,Aquatics,Swimming,"ANDREWS, Theresa",USA,Women,100m backstroke,W,Gold
...,...,...,...,...,...,...,...,...,...,...
28583,Beijing,2008,Hockey,Hockey,"ZHANG, Yimeng",CHN,Women,hockey,W,Silver
28940,Beijing,2008,Table Tennis,Table Tennis,"ZHANG, Yining",CHN,Women,singles,W,Gold
28956,Beijing,2008,Table Tennis,Table Tennis,"ZHANG, Yining",CHN,Women,team,W,Gold
27893,Beijing,2008,Boxing,Boxing,"ZHANG, Zhilei",CHN,Men,+ 91kg (super heavyweight),M,Silver
27340,Beijing,2008,Aquatics,Swimming,"ZHAO, Jing",CHN,Women,4x100m medley relay,W,Bronze
29074,Beijing,2008,Volleyball,Volleyball,"ZHAO, Ruirui",CHN,Women,volleyball,W,Bronze
28584,Beijing,2008,Hockey,Hockey,"ZHAO, Yudiao",CHN,Women,hockey,W,Silver
28999,Beijing,2008,Tennis,Tennis,"ZHENG, Jie",CHN,Women,doubles,W,Bronze
28641,Beijing,2008,Judo,Judo,"ZHITKEYEV, Askhat",KAZ,Men,90 - 100kg (half-heavyweight),M,Silver
28169,Beijing,2008,Fencing,Fencing,"ZHONG, Man",CHN,Men,sabre individual,M,Gold
27701,Beijing,2008,Athletics,Athletics,"ZHOU, Chunxiu",CHN,Women,marathon,W,Bronze
27176,Beijing,2008,Aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,Silver
29075,Beijing,2008,Volleyball,Volleyball,"ZHOU, Suhong",CHN,Women,volleyball,W,Bronze
28585,Beijing,2008,Hockey,Hockey,"ZHOU, Wanfeng",CHN,Women,hockey,W,Silver
27341,Beijing,2008,Aquatics,Swimming,"ZHOU, Yafei",CHN,Women,4x100m medley relay,W,Bronze
28191,Beijing,2008,Fencing,Fencing,"ZHOVNIR, Olha",UKR,Women,sabre team,W,Gold
28989,Beijing,2008,Taekwondo,Taekwondo,"ZHU, Guo",CHN,Men,68 - 80 kg,M,Bronze
27394,Beijing,2008,Aquatics,Swimming,"ZHU, Qianwei",CHN,Women,4x200m freestyle relay,W,Silver
28857,Beijing,2008,Shooting,Shooting,"ZHU, Qinan",CHN,Men,10m air rifle (60 shots),M,Silver
28396,Beijing,2008,Gymnastics,Rhythmic G.,"ZHUKOVA, Inna",BLR,Women,individual all-round,W,Silver
29172,Beijing,2008,Wrestling,Wrestling Free.,"ZLATEVA, Stanka",BUL,Women,63 - 72kg,W,Silver
28308,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,floor exercises,M,Gold
28314,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,horizontal bar,M,Gold
28342,Beijing,2008,Gymnastics,Artistic G.,"ZOU, Kai",CHN,Men,team competition,M,Gold
27900,Beijing,2008,Boxing,Boxing,"ZOU, Shiming",CHN,Men,48kg (light flywieght),M,Gold
28095,Beijing,2008,Equestrian,Dressage,"ZU-SAYN WITTGENSTEIN, Nathalie",DEN,Women,team,X,Bronze
28819,Beijing,2008,Sailing,Sailing,"ZUBARI, Shahar",ISR,Men,RS:X - Windsurfer,M,Bronze
28977,Beijing,2008,Taekwondo,Taekwondo,"ZUBCIC, Martina",CRO,Women,49 - 57 kg,W,Bronze
28387,Beijing,2008,Gymnastics,Rhythmic G.,"ZUEVA, Natalia",RUS,Women,group competition,W,Gold
29007,Beijing,2008,Tennis,Tennis,"ZVONAREVA, Vera",RUS,Women,singles,W,Bronze

In [153]:
co.NOC.value_counts().head(3)

USA    1837
AUS     762
GER     691
Name: NOC, dtype: int64

In [154]:
f=df[(df.Gender=="Men")&(df.Medal=="Gold")&(df.Event=="100m")].sort_values(by="Edition",ascending=False)[["City","Edition","Athlete","NOC"]]
f

                        City  Edition                Athlete  NOC
27552                Beijing     2008            BOLT, Usain  JAM
25539                 Athens     2004         GATLIN, Justin  USA
23521                 Sydney     2000        GREENE, Maurice  USA
21598                Atlanta     1996        BAILEY, Donovan  CAN
19859              Barcelona     1992      CHRISTIE, Linford  GBR
18284                  Seoul     1988            LEWIS, Carl  USA
16794            Los Angeles     1984            LEWIS, Carl  USA
15374                 Moscow     1980           WELLS, Allan  GBR
14069               Montreal     1976       CRAWFORD, Hasely  TRI
12902                 Munich     1972         BORZOV, Valery  URS
11865                 Mexico     1968       HINES, James Ray  USA
10823                  Tokyo     1964          HAYES, Robert  USA
9924                    Rome     1960            HARY, Armin  EUA
9009   Melbourne / Stockholm     1956  MORROW, Robert Joseph  USA
8121                Helsinki     1952        REMIGINO, Lindy  USA
7302                  London     1948      DILLARD, Harrison  USA
6427                  Berlin     1936           OWENS, Jesse  USA
5806             Los Angeles     1932           TOLAN, Eddie  USA
5095               Amsterdam     1928        WILLIAMS, Percy  CAN
4236                   Paris     1924       ABRAHAMS, Harold  GBR
2996                 Antwerp     1920       PADDOCK, Charles  USA
2022               Stockholm     1912           CRAIG, Ralph  USA
1191                  London     1908       WALKER, Reginald  RSA
737                 St Louis     1904           HAHN, Archie  USA
231                    Paris     1900        JARVIS, Francis  USA
13                    Athens     1896          BURKE, Thomas  USA